.main-content {
    display: grid;
    width: 100vw;
    min-height: 1000px;
    margin-left: -10px;
    margin-top: -10px;
    /* width: 90%; */
    grid-template-columns: 30% 70%;
}


.left-section{
    background-color: rgb(42, 36, 80);
    padding: 1rem;
}

.right-section{

    background-color: rgb(230, 230, 230);
}


.details{
    text-align: center;
    color: white;
    
}

.profile-image{
    display: block;
    margin: auto;
}

.profile-image img{
    margin-top: 20px;
    width: 60%;
    border-radius: 150px;
    position: relative;
    
    border: 5px solid white;
    
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.8rem;
    letter-spacing: 0.02px;
}

.designation{
    font-size: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;    
}
.description{
    font-size: 0.75rem;
    padding: 1rem;
    
}

.contact-item{
    display: flex;
    flex-direction: column;
    /* grid-template-rows: 1fr 1fr ; */
    color: white;
}

.social{
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    list-style: none;
    overflow: hidden;
    margin-bottom: 1rem;
    /* width: 100%; */
    
}

/* .icon{
    display: flex;
    
}

.icon h5{
    text-align: center;
} */


.icon img{
   width: 20px;
   height: 20px;
   justify-self: center;
 
}
.personal .icon img{
    width: 15px;
    height: 15px;
    justify-self: center;
  
 }

.personal{
    display: flex;
    flex-direction: column;
    align-content:center;
    list-style: none;
    text-align: left;
    /* padding-left: 1rem; */
}


/* SKILLS................................ */

.skills{
    text-align: center;
    color: white;
    font-size: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
}

.skill-name{
    font-size: 0.65rem;
    font-weight: 0.65rem;
    padding-bottom: 0.5rem;
}

.progress-bar{
    width: 100%;
    /* border: 1px solid white; */
    /* height: 10px; */
    
}



/* right-section/////////////////////////////////////// */

.right-main-content{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.right-title{
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;    
}


.edu-cols{

    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.edu-box{
    display: flex;
}
.edu-box h2{
    font-size: 1rem;
}

.course{
    width: 70%;
}

.school{
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
}









/* RESPONSIVENES............................ */

@media (max-width:674px){
    .main-content{
         grid-template-columns: repeat(1,1fr);
          /* grid-template-rows: 1fr 1fr; */
    }

    .left-section{
        padding-left: 48px;
        padding-right: 48px;
    }


    
}
